<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - QuestNexus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href={{ url_for("shop") }}>Shop</a>
            <a href={{ url_for("settings") }}>Settings</a>
            <a href={{ url_for("logout") }}>Log out</a>
        </nav>
    </header>
    <main>
        <section class="welcome-text">
            <h2>Welcome {{ user }} to QuestNexus</h2>
            <p>Your one-stop shop for the latest and greatest products. Explore our collection, find what you need, and enjoy a seamless shopping experience.</p>
        </section>
    </main>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
    <script src="Static/js/scripts.js"></script>
</body>
</html>
