<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - QuestNexus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href={{ url_for("logout") }}>Log out</a>
            <a href="shop.html">Shop</a>
            <a href={{ url_for("setting") }}>Settings</a>
        </nav>
    </header>
    <main>
        <section class="auth-form">
            <h2>Login</h2>
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
            <p>Don't have an account? <a href="register.html">Register here</a></p>
        </section>
    </main>
</body>
</html>
