<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details - QuestNexus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">
    <script src="product.js" defer></script>
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href="shop.html">Shop</a>
            <a href={{ url_for("setting") }}>Settings</a>
        </nav>
    </header>
    <main>
        <section id="product-details" class="product-detail">
            <!-- Product details will be inserted here by JavaScript -->
        </section>
    </main>
</body>
</html>
