<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - QuestNexus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href={{ url_for("logout") }}>Log out</a>
            <a href="shop.html">Shop</a>
            <a href="settings.html">Settings</a>
        </nav>
    </header>
    <main>
        <section class="auth-form">
            <h2>Register</h2>
            <form action="/register" method="POST">
                {% include 'includes/alert.html' %}
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="login.html">Login here</a></p>
        </section>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/close-all-alerts.js') }}"></script>
    </main>
</body>
</html>
