<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - QuestNexus</title>
    <link rel="stylesheet" href={{ url_for('static', filename='Styles/styles.css') }}>
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href={{ url_for("shop") }}>Shop</a>
            <a href={{ url_for("settings") }}>Settings</a>
            <a href={{ url_for("logout") }}>Log out</a>
        </nav>
    </header>
    <main>
        <section class="settings-form">
            <h2>User Settings</h2>
            <form action="/settings" method="POST" enctype="multipart/form-data">
                <div class="photo-upload">
                    <label for="profile-photo">Profile Photo:</label>
                    <div class="photo-preview" id="photo-preview">
                        <img id="preview-image" src="{{ url_for('static', filename='uploads/' + data[5]) }}" alt="Profile Photo Preview">
                    </div>
                    <div style = "display: flex;
                                  justify-content: center;">
                        <input type="file" id="profile-photo" name="profile-photo" accept="image/*" onchange="previewImage(event)">
                    </div>
                </div>

                <label for="username">User Name:</label>
                <input type="text" id="username" name="username" value="{{data[1]}}" readonly>

                <label for="name">Full Name:</label>
                <input type="text" id="name" name="name" value="{{data[3]}}">

                <label for="balance">Account Balance:</label>
                <input type="number" id="balance" name="balance" step="1" min="0" value="{{data[4]}}">

                <button type="submit">Update Settings</button>
            </form>
        </section>
    </main>
    <script src="Static/js/scripts.js"></script>
</body>
</html>
