<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - QuestNexus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Styles/styles.css') }}">
    <script src="scripts.js" defer></script>
</head>
<body>
    <header>
        <h1>QuestNexus</h1>
        <nav>
            <a href={{ url_for("index") }}>Home</a>
            <a href={{ url_for("login") }}>Login</a>
            <a href={{ url_for("register") }}>Register</a>
            <a href={{ url_for("shop") }}>Shop</a>
            <a href={{ url_for("settings") }}>Settings</a>
            <a href={{ url_for("logout") }}>Log out</a>
        </nav>
    </header>
    <main>
        <!-- Search Section -->
        <section class="search-bar">
            <h3>Search Products for {{search_query}}</h3>
            <form class="search-form" method="POST" action="{{ url_for('shop') }}">
                <input type="text" id="search-input" name="search-input" placeholder="Search for products..." required class="search-input">
                <button type="submit" class="search-button">Search</button>
            </form>
        </section>
        <section id="product-list" class="product-grid">
            {% if products %}
                {% for product in products %}
                    <div class="product">
                        <img src="{{ url_for('static', filename='uploads/' + product[3]) }}" class="product-photo">
                        <h3>
                            <a href="{{ url_for("product_detail", product_id=product[1])}}">
                            {{ product[1] }}
                            </a>
                        </h3>
                        <p class="price">{{ product[2] }}$</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No products found.</p>
            {% endif %}
        </section>
        
        
    </main>
    <script src="Static/js/scripts.js"></script>
</body>
</html>
